--
-- PostgreSQL database dump
--

\restrict hXOFlUDbPQRugSIkGGYdlln3Qd8AzwCBHW0AAz1oj3WpwcwRdVgvjiG9PetPlJW

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: connection_requests; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.conversations (id, user_a_id, user_b_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.matches (id, user_a_id, user_b_id, created_at) FROM stdin;
21d68369-6d75-4d90-ba75-e304b8b4bc72	307a5425-245d-4d10-9f27-95422681ddd0	bc213281-27f5-4ad5-8f50-427fa731e377	2025-08-27 23:02:45.988124+05:30
64eaf025-3cfb-44d5-8e6e-20f738c4c2ff	307a5425-245d-4d10-9f27-95422681ddd0	9857a0ce-ca65-4fee-ba71-aa1f41c47da0	2025-08-27 23:03:24.925552+05:30
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.messages (id, conversation_id, sender_id, content, created_at) FROM stdin;
\.


--
-- Data for Name: payment_orders; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_orders (id, user_id, razorpay_order_id, pack_id, amount, currency, status, razorpay_payment_id, razorpay_signature, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: profile_reviews; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.profile_reviews (id, user_id, reviewer_id, decision, notes, reviewed_at) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: purchases; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.purchases (id, user_id, pack_size, amount_rupees, status, created_at) FROM stdin;
\.


--
-- Data for Name: user_packs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_packs (id, user_id, pack_id, pack_name, matches_total, matches_remaining, requests_total, requests_remaining, amount_paid, purchased_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

\unrestrict hXOFlUDbPQRugSIkGGYdlln3Qd8AzwCBHW0AAz1oj3WpwcwRdVgvjiG9PetPlJW

